<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SinaAccessToken" value="你的新浪微博AccessToken"/>
    <add key="SinaAccessTokenSecret" value="你地新浪微博AccessTokenSecret"/>
    <add key="QQAccessToken" value="你的腾讯微博AccessToken"/>
    <add key="QQAccessTokenSecret" value="你的腾讯微博AccessTokenSecret"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
