<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppKey" value="59261381"/>
    <add key="AppSecret" value="b8ead84f1d63e6518b6cb51d9885cb7b"/>
    <add key="AccessToken" value="719e272220d4bb500ce711b4d585b301" />
    <add key="AccessTokenSecret" value="389cf6fe7077c8e80ed010df6d499af0" />
  </appSettings>
</configuration>