<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppKey" value="你的AppKey"/>
    <add key="AppSecret" value="你的AppSecret"/>
    <add key="AccessToken" value="当前登录用户的AccessToken" />
    <add key="AccessTokenSecret" value="当前登录用户的AccessTokenSecret" />
  </appSettings>
</configuration>